@import '~normalize.css';
* {
   font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
.hidden {
   opacity: 0;
   visibility: hidden;
   display: none;
}
.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.textarea {
   width: 680px;
   height: 200px;
}
.keyboard {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(15, 40px);
   grid-template-rows: repeat(5, 40px);
   gap: 6px;
}
.btn {
   background: red;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   transition: all .3s;
   &:focus {
      border: none;
   }
   &>p {
      position: absolute;
      pointer-events: none;
      color: #FFF;
      //top: 50%;
      //left: 50%;
      //transform: translate3d(-50%, -50%, 0);
   }
   &.hover {
      background: #000;
   }
   &.active {
      background: green;
   }
}
.Backspace, .Enter, .ShiftRight {
   grid-column: 14 / 16;
   background: grey;
}
.ShiftLeft, .CapsLock {
   grid-column: 1 / 3;
   background: grey;
}
.Space {
   grid-column: 4 / 11;
   background: grey;
}
.Tab, .ControlLeft, .ControlRight, .AltLeft, .AltRight, .MetaLeft, .Delete {
   background: grey;
}